<!DOCTYPE html>
<html>
<head>
    <title>ControllerPath ViewEngine Demo</title>
</head>
<body>
    <div>
        <h1>ControllerPath ViewEngine Demo</h1>
        <h2>Current Screen</h2>
        <p>
            <strong>@RenderBody()</strong>
        </p>
        <h2>Links to Controller Actions</h2>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Level1", "Index", "Level1")</li>
            <li>@Html.ActionLink("Another Level 1", "Index", "AnotherLevel1")</li>
            <li>@Html.ActionLink("Another Level 1 (missing view)", "Missing", "AnotherLevel1")</li>
            <li>@Html.ActionLink("Level2", "Index", "Level2")</li>
            <li>@Html.ActionLink("Level2 (missing view)", "Missing", "Level2")</li>
            <li>@Html.ActionLink("Another Level 2", "Index", "AnotherLevel2")</li>
        </ul>
    </div>
</body>
</html>
