<!DOCTYPE html>
<html>
<head>
    <title>ControllerPathViewEngine - SimpleDemo</title>
    <style type="text/css">
        body
        {
            font-family: sans-serif;
        }

        div.panel
        {
            float: left;
            margin: 0;
            width: 30%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>ControllerPathViewEngine - SimpleDemo</h1>
        <div class="panel">
            <h2>Current Screen</h2>
            <p>The content in the box is from the actual view:</p>
            <div style="padding: 10px; background-color: #ccc">
                @RenderBody()
            </div>
            <h2>Links to Controller Actions</h2>
            <p>@Html.ActionLink("HomeController.Index", "Index", "Home")<br />
                @Html.ActionLink("Catalogue/ProductsController.Index", "Index", "Products")<br />
                @Html.ActionLink("Catalogue/CategoriesController.Index", "Index", "Categories")
            </p>
            <h2>Missing View Exceptions</h2>
            <p>This loads an action with a missing view. The standard "can't find the view" exception includes the correct path</p>
            @Html.ActionLink("Catalogue/ProductsController.MissingView", "MissingView", "Products")

        </div>
        <div class="panel">
            <h2>Controller / View Locations</h2>
            <p>The controllers and views are structured as shown below, with views located in a folder hierarchy based on the controller namespace.</p>
            <img src="@Url.Content("~/content/structure.png")" />

        </div>
    </div>
</body>
</html>
